.vc_col-xs-1, .vc_col-sm-1, .vc_col-md-1, .vc_col-lg-1, .vc_col-xs-2, .vc_col-sm-2, .vc_col-md-2, .vc_col-lg-2, .vc_col-xs-3, .vc_col-sm-3, .vc_col-md-3, .vc_col-lg-3, .vc_col-xs-4, .vc_col-sm-4, .vc_col-md-4, .vc_col-lg-4, .vc_col-xs-5, .vc_col-sm-5, .vc_col-md-5, .vc_col-lg-5, .vc_col-xs-6, .vc_col-sm-6, .vc_col-md-6, .vc_col-lg-6, .vc_col-xs-7, .vc_col-sm-7, .vc_col-md-7, .vc_col-lg-7, .vc_col-xs-8, .vc_col-sm-8, .vc_col-md-8, .vc_col-lg-8, .vc_col-xs-9, .vc_col-sm-9, .vc_col-md-9, .vc_col-lg-9, .vc_col-xs-10, .vc_col-sm-10, .vc_col-md-10, .vc_col-lg-10, .vc_col-xs-11, .vc_col-sm-11, .vc_col-md-11, .vc_col-lg-11, .vc_col-xs-12, .vc_col-sm-12, .vc_col-md-12, .vc_col-lg-12{
	padding-left:7px !important;
	padding-right:7px !important;
}
body .wpb_row, .wpb_content_element, body  ul.wpb_thumbnails-fluid > li, body .wpb_button{
	margin-bottom:20px;
}

body .vc_row {
    margin-left: -7px;
    margin-right: -7px;
}

body .wpb_posts_slider .flex-caption, body .wpb_posts_slider .nivo-caption {
    position: absolute;
    bottom: 30px;
    left: 0px;
    background: transparent;
    padding: 25px 30px;
}

body .wpb_posts_slider .flex-caption h2 a{
	color:white;
	padding: 10px 17px;
    text-transform: uppercase;
    font-size: 22px;
}
body .wpb_posts_slider .flex-caption h2 a:hover{
	color:white;
	background:#1b1b1b;
}
body .wpb_posts_slider .flex-caption h2 {
	margin-bottom: 30px;
}
body .wpb_posts_slider .flex-caption p {
    background: #FFFFFF;
    padding: 17px 22px;
    font-size: 14px;
    color: #333;
}
body .flexslider .slides img{
	height:auto;
}
body .flexslider .slides > li{
	position:relative;
}
body .wpb_gallery .wpb_flexslider .flex-control-nav {
    bottom: 15px;
    top: initial;
    margin-top: 15px;
}

body .flexslider{
	margin: 0px;
    background: transparent;
    border: 0px;
    position: relative;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    /* -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); */
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    /* box-shadow: 0 1px 4px rgba(0,0,0,.2); */
    zoom: 1;
}

body .flex-direction-nav a:before{
	font-size: 35px;
}
body .flex-direction-nav a{
	color:white;
}
body .flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgb(255, 255, 255);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
body .wpb_row, body .wpb_content_element, body ul.wpb_thumbnails-fluid > li, body .wpb_button{
	margin-bottom:25px;
}

body .ls-fullwidth .ls-nav-prev, body .ls-fullwidth .ls-nav-next{
	width: 50px;
    height: 50px;
    z-index: 10000;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    background-color: white;
    transition: all .35s ease-in-out !important;
    -moz-transition: all .35s ease-in-out !important;
    -webkit-transition: all .35s ease-in-out !important;
    -o-transition: all .35s ease-in-out !important;
    opacity:0.5;
}

body .ls-fullwidth .ls-nav-prev, body .ls-fullwidth .ls-nav-prev:hover {
    background-position: 5px 5px;

}

body .ls-fullwidth .ls-nav-next, body .ls-fullwidth .ls-nav-next:hover {
    background-position: -146px 5px;
}

body .ls-fullwidth .ls-nav-next{
	right: 0px
}
body .ls-fullwidth .ls-nav-next:hover{
	right: 5px
	opacity:1;
}
body .ls-fullwidth .ls-nav-prev {
    left: 0px;
}

body .ls-fullwidth .ls-nav-prev:hover {
    left: 5px;
    opacity:1;
}

body .vc_parallax h1, body .vc_parallax h2, body .vc_parallax h3, body .vc_parallax h4,
body .vc_parallax h5, body .vc_parallax h6{
	color:white;
}
body .vc_column_container>.vc_column-inner{
	padding-left: 0px;
    padding-right: 0px;
}

